*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: normal 20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: skyblue;
}
.td_container{
    width: 500px;
    margin: 50px auto;
    border: 3px solid slategrey ;
    background-color: limegreen;
    border-radius: 15px;
}
.td_title{
    margin: 30px auto;
    font-size: 36px;
    text-align:center;
}
.td_input{
    margin: 15px 20px;
    width: 350px;
    outline: none;
    padding: 10px;
}
.td_button{
    width: 80px;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
}
.td_list{
    margin: 20px;
    padding: 20px;
    border: 1px dashed black;
    height: 410px;
    overflow: scroll;

}
.td_list_item{
    display: list-item;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid saddlebrown;
    border-radius: 15px;
    margin-bottom: 5px;
    list-style-position: inside;
}
.td_list_item_done{
    background-color: green;
}
.td_list_item span{
    width: 300px;
}
.td_list_item_checkbox{
    position: absolute;
    right: 60px;
    width: 30px;
    height: 30px;
    background-color: brown;
}
.td_list_item_checkbox:active{
    border: 1px solid teal;
}
.delete_btn{
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    background: no-repeat center/90% url(icon/vcsconflicting_93497.svg);
    border: none;
}
.delete_btn:active{
    border: 1px solid black;
}